<section data-ng-controller="SongsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Songs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="song in songs" data-ng-href="#!/songs/{{song._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="song.created | date:'medium'"></span>
				by
				<span data-ng-bind="song.user.displayName"></span>
			</small>
			<!--<h4 class="list-group-item-heading" data-ng-bind="song.name"></h4>-->
            <audio controls ng-init="sanitizeURL(song.link)">
                <source data-ng-src="{{sanitizedURL}}" type="audio/mpeg">
            </audio>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!songs.$resolved || songs.length">
    	No Songs yet, why don't you <a href="/#!/songs/create">create one</a>?
    </div>
</section>