<div>
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Add Song</h1>
		</md-toolbar>
		<md-content layout-padding>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
			<form novalidate ng-submit="create()">
				<md-input-container>
					<label for="testInput">Name</label>
					<input required="" type="text" id="testInput"
						   ng-model="name" md-sidenav-focus>
				</md-input-container>
				<md-input-container>
					<label for="testInput">URL</label>
					<input required="" type="text" id="link"
						   ng-model="link">
				</md-input-container>
				<md-button type="submit" class="md-primary md-raised">
					Save
				</md-button>
			</form>

		</md-content>
	</md-sidenav>


	<div>
		<md-content class="md-default-theme" ng-click="toggleRight()" data-ng-init="find()">
			<md-list>
				<md-list-item class="md-3-line" ng-repeat="song in songs track by $index">

					<div style="padding-left: 40px;padding-right: 40px;" class="md-list-item-text">


						<div layout="row">
							<div layout="column" flex="30">
								<h3>{{song.name}}</h3>
								<p>{{song.link}}</p>
							</div>
                            <div layout="column" flex="49">

                                <div class="videogular-container" ng-if="$index == 0">
                                    <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url" class="videogular-container audio">
                                        <vg-media vg-src="controller.config.sources"
                                                  vg-tracks="controller.config.tracks"  vg-type="audio">
                                        </vg-media>

                                        <vg-controls>
                                            <vg-play-pause-button></vg-play-pause-button>
                                            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                            <vg-scrub-bar>
                                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                            </vg-scrub-bar>
                                            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                            <vg-volume>
                                                <vg-mute-button></vg-mute-button>
                                                <!--<vg-volume-bar></vg-volume-bar>-->
                                            </vg-volume>
                                            <!--<vg-fullscreen-button></vg-fullscreen-button>-->
                                        </vg-controls>
									<!--<vg-overlay-play></vg-overlay-play>-->
                                        <!--<vg-buffering></vg-buffering>-->
                                        <!--<vg-poster vg-url='controller.config.plugins.poster'></vg-poster>-->
                                    </videogular>
                                </div>

                            </div>
							<div layout="column" flex="20">
								<md-slider ng-change="ratingChanged(song)" flex class="md-warn" md-discrete
										   ng-model="song.score" step="1" min="1" max="100" aria-label="rating">
								</md-slider>
							</div>
						</div>

					</div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>

		</md-content>
	</div>

</div>




